In [39]:
import sqlite3
import pandas as pd;
import os
#permet de récuperer une liste de fichiers 
import glob

In [40]:

#parcourir le dossier avec les csv / Remplace 'chemin_vers_vos_csv/*.csv'
list_csvs = glob.glob('./csv/*.csv')
print(list_csvs)

['./csv\\customers.csv', './csv\\products.csv', './csv\\stores.csv', './csv\\transactions.csv']

In [41]:
#Bdd temporaire stockée en mémoire , connexion 
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

In [42]:
#Lire chaque fichier CSV et l'insérer en tant que table dans SQLite

for one_csv in list_csvs:
     # Lire le CSV dans un DataFrame pandas
    df = pd.read_csv(one_csv)
   
   # Utiliser os.path.basename pour obtenir le nom du fichier avec extension
    file_name = os.path.basename(one_csv) # Récupère le nom de fichier avec extension

    print(df.head())
    print(file_name)

    # Divise le nom du fichier en une liste de sous - chaines qui utilise le caractère '.'
    # ensuite [0] séléctionne le premier élément de la liste 
    table_name = file_name.split('.')[0]


    #inserer le DF dans la table sqlite temporare / la base de donnée en mémoire créer plus haut 

    df.to_sql(table_name, conn, index=False, if_exists='replace')
    
    print(f"Table '{table_name}' créée avec succès dans SQLite.\n")

   customer_id customer_name  age  gender
0            1    Customer 1   25    Male
1            2    Customer 2   40  Female
2            3    Customer 3   30    Male
3            4    Customer 4   33    Male
4            5    Customer 5   43    Male
customers.csv
Table 'customers' créée avec succès dans SQLite.

   product_id product_name     category   price
0           1    Product 1        Books   14.02
1           2    Product 2        Books  291.83
2           3    Product 3        Books  295.06
3           4    Product 4  Electronics  228.15
4           5    Product 5    Furniture  419.20
products.csv
Table 'products' créée avec succès dans SQLite.

   store_id store_name     location
0         1    Store 1     New York
1         2    Store 2  Los Angeles
2         3    Store 3     New York
3         4    Store 4     New York
4         5    Store 5      Phoenix
stores.csv
Table 'stores' créée avec succès dans SQLite.

   transaction_id  customer_id  product_id  store_id        date  amount
0               1           35           8        12  2023-01-01  379.09
1               2          236          34        16  2023-01-02   18.48
2               3          334          50        20  2023-01-03  783.51
3               4          325          46        20  2023-01-04  333.82
4               5          332          89         6  2023-01-05  329.74
transactions.csv
Table 'transactions' créée avec succès dans SQLite.

In [43]:
# 4. Vérifier les tables créées dans la base de données SQLite
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables créées dans la base de données SQLite :")
print(tables)

Tables créées dans la base de données SQLite :
[('customers',), ('products',), ('stores',), ('transactions',)]

In [44]:
if tables:  # Vérifie s'il y a des tables créées
    table_name = tables[0][0]  # Prendre le nom de la première table
    request = f"SELECT * FROM {table_name} LIMIT 5;"  # Requête SQL
    resultats = pd.read_sql_query(request, conn)

    # 6. Afficher les résultats de la requête
    print(f"\nRésultats de la requête sur la table '{table_name}':")
    print(resultats)
else:
    print("Aucune table n'a été créée dans la base de données SQLite.")

Résultats de la requête sur la table 'customers':
   customer_id customer_name  age  gender
0            1    Customer 1   25    Male
1            2    Customer 2   40  Female
2            3    Customer 3   30    Male
3            4    Customer 4   33    Male
4            5    Customer 5   43    Male

In [45]:
conn.close()